<div id="menu">
  <ul>
    <li>
      <img src="https://img.icons8.com/wired/64/ffffff/home.png">
      <span>MAIN PAGE</span>
    </li>
    <li>
        <img src="https://img.icons8.com/wired/64/ffffff/giving-tickets.png">
        <span>NOW SHOWING</span>
    </li>
    <li>
        <img src="https://img.icons8.com/wired/64/ffffff/theatre-mask.png">  
        <span>COMMliNG SOON</span>
    </li>
    <li>
      <img src="https://img.icons8.com/wired/64/ffffff/support.png">
      <span>CONTACT</span>
    </li>
  </ul>
</div>