<section class="presentation__seat">
  <div class="presentation__map__seat">
    <aside class="letters-left">
      <ul>
        <li>I</li>
        <li>H</li>
        <li>G</li>
        <li>F</li>
        <li>E</li>
        <li>D</li>
        <li>C</li>
        <li>B</li>
        <li>A</li>
      </ul>
    </aside>
    <div class="seat">
      <div class="subgrid">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        
        
        
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>


        
        
        
        <!-- <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt=""> -->
        
        
        
        
        
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
        <img src="../../../assets/chair-cinema-purple.svg" alt="">
      </div>
    </div>
    <aside class="letters-right">
      <ul>
        <li>I</li>
        <li>H</li>
        <li>G</li>
        <li>F</li>
        <li>E</li>
        <li>D</li>
        <li>C</li>
        <li>B</li>
        <li>A</li>
      </ul>
    </aside>
  </div>
</section>