<section class="presentation__seat">
  <div class="presentation__map__seat">
    <aside class="letters-left">
      <div class="subgrid-left">
        <span>I</span>
        <span>H</span>
        <span>G</span>
        <span>F</span>
        <span>E</span>
        <span>D</span>
        <span>C</span>
        <span>B</span>
        <span>A</span>
      </div>
    </aside>
    <div class="seat">
      <div class="subgrid">

        <img src="../../../assets/chair-cinema-purple.svg" title="I1">
        <img src="../../../assets/chair-cinema-purple.svg" title="I2">
        <span> </span>
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-purple.svg" title="I6">
        <img src="../../../assets/chair-cinema-purple.svg" title="I7">
        <img src="../../../assets/chair-cinema-purple.svg" title="I8">
        <img src="../../../assets/chair-cinema-purple.svg" title="I9">
        <img src="../../../assets/chair-cinema-purple.svg" title="I10">
        <img src="../../../assets/chair-cinema-purple.svg" title="I11">
        <img src="../../../assets/chair-cinema-purple.svg" title="I12">
        <img src="../../../assets/chair-cinema-purple.svg" title="I13">
        <img src="../../../assets/chair-cinema-purple.svg" title="I14">
        <img src="../../../assets/chair-cinema-purple.svg" title="I15">
        <img src="../../../assets/chair-cinema-purple.svg" title="I16">
        <img src="../../../assets/chair-cinema-purple.svg" title="I17">
        <img src="../../../assets/chair-cinema-purple.svg" title="I18">
        <img src="../../../assets/chair-cinema-purple.svg" title="I19">
        <img src="../../../assets/chair-cinema-purple.svg" title="I20">
        <img src="../../../assets/chair-cinema-yellow.svg" title="I21">
        <img src="../../../assets/chair-cinema-yellow.svg" title="I22">
        <span> </span>
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-purple.svg" title="I26">
        <img src="../../../assets/chair-cinema-purple.svg" title="I27">









        <img src="../../../assets/chair-cinema-yellow.svg" title="H1">
        <img src="../../../assets/chair-cinema-yellow.svg" title="H2">
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="H5">
        <img src="../../../assets/chair-cinema-purple.svg" title="H6">
        <img src="../../../assets/chair-cinema-purple.svg" title="H7">
        <img src="../../../assets/chair-cinema-purple.svg" title="H8">
        <img src="../../../assets/chair-cinema-purple.svg" title="H9">
        <img src="../../../assets/chair-cinema-pink.svg" title="H10">
        <img src="../../../assets/chair-cinema-pink.svg" title="H11">
        <img src="../../../assets/chair-cinema-yellow.svg" title="H12">
        <img src="../../../assets/chair-cinema-purple.svg" title="H13">
        <img src="../../../assets/chair-cinema-purple.svg" title="H14">
        <img src="../../../assets/chair-cinema-purple.svg" title="H15">
        <img src="../../../assets/chair-cinema-purple.svg" title="H16">
        <img src="../../../assets/chair-cinema-yellow.svg" title="H17">
        <img src="../../../assets/chair-cinema-yellow.svg" title="H18">
        <img src="../../../assets/chair-cinema-purple.svg" title="H19">
        <img src="../../../assets/chair-cinema-purple.svg" title="H20">
        <img src="../../../assets/chair-cinema-purple.svg" title="H21">
        <img src="../../../assets/chair-cinema-purple.svg" title="H22">
        <img src="../../../assets/chair-cinema-yellow.svg" title="H23">
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-purple.svg" title="H26">
        <img src="../../../assets/chair-cinema-purple.svg" title="H27">

        <img src="../../../assets/chair-cinema-purple.svg" title="G1">
        <img src="../../../assets/chair-cinema-purple.svg" title="G2">
        <span> </span>
        <img src="../../../assets/chair-cinema-purple.svg" title="G4">
        <img src="../../../assets/chair-cinema-purple.svg" title="G5">
        <img src="../../../assets/chair-cinema-purple.svg" title="G6">
        <img src="../../../assets/chair-cinema-purple.svg" title="G7">
        <img src="../../../assets/chair-cinema-purple.svg" title="G8">
        <img src="../../../assets/chair-cinema-purple.svg" title="G9">
        <img src="../../../assets/chair-cinema-purple.svg" title="G10">
        <img src="../../../assets/chair-cinema-purple.svg" title="G11">
        <img src="../../../assets/chair-cinema-purple.svg" title="G12">
        <img src="../../../assets/chair-cinema-purple.svg" title="G13">
        <img src="../../../assets/chair-cinema-purple.svg" title="G14">
        <img src="../../../assets/chair-cinema-purple.svg" title="G15">
        <img src="../../../assets/chair-cinema-yellow.svg" title="G16">
        <img src="../../../assets/chair-cinema-purple.svg" title="G17">
        <img src="../../../assets/chair-cinema-purple.svg" title="G18">
        <img src="../../../assets/chair-cinema-purple.svg" title="G19">
        <img src="../../../assets/chair-cinema-yellow.svg" title="G20">
        <img src="../../../assets/chair-cinema-purple.svg" title="G21">
        <img src="../../../assets/chair-cinema-purple.svg" title="G22">
        <img src="../../../assets/chair-cinema-purple.svg" title="G23">
        <img src="../../../assets/chair-cinema-purple.svg" title="G24">
        <span> </span>
        <img src="../../../assets/chair-cinema-purple.svg" title="G26">
        <img src="../../../assets/chair-cinema-purple.svg" title="G27">

        <img src="../../../assets/chair-cinema-purple.svg" title="F1">
        <img src="../../../assets/chair-cinema-purple.svg" title="F2">
        <span> </span>
        <img src="../../../assets/chair-cinema-purple.svg" title="F4">
        <img src="../../../assets/chair-cinema-purple.svg" title="F5">
        <img src="../../../assets/chair-cinema-purple.svg" title="F6">
        <img src="../../../assets/chair-cinema-purple.svg" title="F7">
        <img src="../../../assets/chair-cinema-purple.svg" title="F8">
        <img src="../../../assets/chair-cinema-purple.svg" title="F9">
        <img src="../../../assets/chair-cinema-purple.svg" title="F10">
        <img src="../../../assets/chair-cinema-purple.svg" title="F11">
        <img src="../../../assets/chair-cinema-purple.svg" title="F12">
        <img src="../../../assets/chair-cinema-yellow.svg" title="F13">
        <img src="../../../assets/chair-cinema-yellow.svg" title="F14">
        <img src="../../../assets/chair-cinema-purple.svg" title="F15">
        <img src="../../../assets/chair-cinema-purple.svg" title="F16">
        <img src="../../../assets/chair-cinema-purple.svg" title="F17">
        <img src="../../../assets/chair-cinema-purple.svg" title="F18">
        <img src="../../../assets/chair-cinema-purple.svg" title="F19">
        <img src="../../../assets/chair-cinema-purple.svg" title="F20">
        <img src="../../../assets/chair-cinema-purple.svg" title="F21">
        <img src="../../../assets/chair-cinema-yellow.svg" title="F22">
        <img src="../../../assets/chair-cinema-purple.svg" title="F23">
        <img src="../../../assets/chair-cinema-purple.svg" title="F24">
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="F26">
        <img src="../../../assets/chair-cinema-yellow.svg" title="F27">
        
        <img src="../../../assets/chair-cinema-yellow.svg" title="E1">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E2">
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="E4">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E5">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E6">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E7">
        <img src="../../../assets/chair-cinema-purple.svg" title="E8">
        <img src="../../../assets/chair-cinema-purple.svg" title="E9">
        <img src="../../../assets/chair-cinema-purple.svg" title="E10">
        <img src="../../../assets/chair-cinema-purple.svg" title="E11">
        <img src="../../../assets/chair-cinema-purple.svg" title="E12">
        <img src="../../../assets/chair-cinema-purple.svg" title="E13">
        <img src="../../../assets/chair-cinema-purple.svg" title="E14">
        <img src="../../../assets/chair-cinema-purple.svg" title="E15">
        <img src="../../../assets/chair-cinema-purple.svg" title="E16">
        <img src="../../../assets/chair-cinema-purple.svg" title="E17">
        <img src="../../../assets/chair-cinema-purple.svg" title="E18">
        <img src="../../../assets/chair-cinema-purple.svg" title="E19">
        <img src="../../../assets/chair-cinema-purple.svg" title="E20">
        <img src="../../../assets/chair-cinema-purple.svg" title="E21">
        <img src="../../../assets/chair-cinema-purple.svg" title="E22">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E23">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E24">
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="E26">
        <img src="../../../assets/chair-cinema-yellow.svg" title="E27">

        <span> </span>
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="D4">
        <img src="../../../assets/chair-cinema-yellow.svg" title="D5">
        <img src="../../../assets/chair-cinema-purple.svg" title="D6">
        <img src="../../../assets/chair-cinema-purple.svg" title="D7">
        <img src="../../../assets/chair-cinema-purple.svg" title="D8">
        <img src="../../../assets/chair-cinema-purple.svg" title="D9">
        <img src="../../../assets/chair-cinema-purple.svg" title="D10">
        <img src="../../../assets/chair-cinema-blue.svg" title="D11">
        <img src="../../../assets/chair-cinema-blue.svg" title="D12">
        <img src="../../../assets/chair-cinema-yellow.svg" title="D13">
        <img src="../../../assets/chair-cinema-yellow.svg" title="D14">
        <img src="../../../assets/chair-cinema-purple.svg" title="D15">
        <img src="../../../assets/chair-cinema-purple.svg" title="D16">
        <img src="../../../assets/chair-cinema-purple.svg" title="D17">
        <img src="../../../assets/chair-cinema-purple.svg" title="D18">
        <img src="../../../assets/chair-cinema-purple.svg" title="D19">
        <img src="../../../assets/chair-cinema-yellow.svg" title="D20">
        <img src="../../../assets/chair-cinema-yellow.svg" title="D21">
        <img src="../../../assets/chair-cinema-yellow.svg" title="D22">
        <img src="../../../assets/chair-cinema-purple.svg" title="D23">
        <img src="../../../assets/chair-cinema-purple.svg" title="D24">
        <span> </span>
        <span> </span>
        <span> </span>

        <span> </span>
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="C4">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C5">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C6">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C7">
        <img src="../../../assets/chair-cinema-purple.svg" title="C8">
        <img src="../../../assets/chair-cinema-purple.svg" title="C9">
        <img src="../../../assets/chair-cinema-purple.svg" title="C10">
        <img src="../../../assets/chair-cinema-purple.svg" title="C11">
        <img src="../../../assets/chair-cinema-purple.svg" title="C12">
        <img src="../../../assets/chair-cinema-purple.svg" title="C13">
        <img src="../../../assets/chair-cinema-purple.svg" title="C14">
        <img src="../../../assets/chair-cinema-purple.svg" title="C15">
        <img src="../../../assets/chair-cinema-purple.svg" title="C16">
        <img src="../../../assets/chair-cinema-purple.svg" title="C17">
        <img src="../../../assets/chair-cinema-purple.svg" title="C18">
        <img src="../../../assets/chair-cinema-purple.svg" title="C19">
        <img src="../../../assets/chair-cinema-purple.svg" title="C20">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C21">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C22">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C23">
        <img src="../../../assets/chair-cinema-yellow.svg" title="C24">
        <span> </span>
        <span> </span>
        <span> </span>

        <span> </span>
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="B4">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B5">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B6">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B7">
        <img src="../../../assets/chair-cinema-purple.svg" title="B8">
        <img src="../../../assets/chair-cinema-purple.svg" title="B9">
        <img src="../../../assets/chair-cinema-purple.svg" title="B10">
        <img src="../../../assets/chair-cinema-purple.svg" title="B11">
        <img src="../../../assets/chair-cinema-purple.svg" title="B12">
        <img src="../../../assets/chair-cinema-purple.svg" title="B13">
        <img src="../../../assets/chair-cinema-purple.svg" title="B14">
        <img src="../../../assets/chair-cinema-purple.svg" title="B15">
        <img src="../../../assets/chair-cinema-purple.svg" title="B16">
        <img src="../../../assets/chair-cinema-purple.svg" title="B17">
        <img src="../../../assets/chair-cinema-purple.svg" title="B18">
        <img src="../../../assets/chair-cinema-purple.svg" title="B19">
        <img src="../../../assets/chair-cinema-purple.svg" title="B20">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B21">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B22">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B23">
        <img src="../../../assets/chair-cinema-yellow.svg" title="B24">
        <span> </span>
        <span> </span>
        <span> </span>

        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <img src="../../../assets/chair-cinema-yellow.svg" title="A5">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A6">
        <img src="../../../assets/chair-cinema-purple.svg" title="A7">
        <img src="../../../assets/chair-cinema-purple.svg" title="A8">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A9">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A10">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A11">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A12">
        <img src="../../../assets/chair-cinema-purple.svg" title="A13">
        <img src="../../../assets/chair-cinema-purple.svg" title="A14">
        <img src="../../../assets/chair-cinema-purple.svg" title="A15">
        <img src="../../../assets/chair-cinema-purple.svg" title="A16">
        <img src="../../../assets/chair-cinema-purple.svg" title="A17">
        <img src="../../../assets/chair-cinema-purple.svg" title="A18">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A19">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A20">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A21">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A22">
        <img src="../../../assets/chair-cinema-yellow.svg" title="A23">
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
      </div>
    </div>
    <aside class="letters-right">
      <div class="subgrid-right">
        <span>I</span>
        <span>H</span>
        <span>G</span>
        <span>F</span>
        <span>E</span>
        <span>D</span>
        <span>C</span>
        <span>B</span>
        <span>A</span>
      </div>
    </aside>
  </div>
</section>