.presentation__seat {

    display: flex;
    flex-direction: row;
    background-color: #3F467C;
    border-bottom: solid 1px;
    border-bottom-color: #8ba0d7;
    border-top: solid 1px;
    border-top-color: #8ba0d7;

    .presentation__map__seat {

        width: 100%;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: "letters-left seat letters-right";
        padding: 3% 80px 3% 80px;

        .letters-left {
            
            grid-area: letters-left; 
            color: #fff;
            text-align: start;
            
            .subgrid-left {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
                grid-template-rows: repeat(9, 1fr);
                height: 100%;
            }
        }
        .seat {
            grid-area: seat; 

            .subgrid {
                display: grid;
                grid-template-columns: repeat(27, 1fr);
                grid-gap: 10px;
                grid-template-rows: repeat(9, 1fr);
                height: 100%;

                img {
                    width: 100%;
                    place-self: center;
                }
            } 
            
        }
        .letters-right {
            
            grid-area: letters-right; 
            text-align: end;
            color: #fff;

            .subgrid-right {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
                grid-template-rows: repeat(9, 1fr);
                height: 100%;
            }
        }
    }    
}


@media(max-width: 576px) { 

    .presentation__seat {

        .presentation__map__seat {

            padding: 3% 25px 3% 25px;
        }
    }

}
