<!-- CALENDAR -->
<section class="presentation__calendar">
  <div class="presentation__date" id="styled">
    <h3 style="margin: 0;">DATE</h3>

    <div class="presentation__numbers">

      <div class="presentation__card">

        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
        
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">
        <ul>
          <li>SEP</li>
          <li class="day">17</li>
          <li>TUE</li>
        </ul>
      </div>
      <div class="presentation__card">

          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
          
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>

    </div>

  </div>
</section>