.presentation__place {

    background-color: #3F467C;
    width: 100%;
    
    .presentation__availability {

        padding: 5% 5%;
        display: flex;
        flex-direction: row;
        
        .presentation__filter {
            
            display: flex;
            flex-direction: row;
            
            .presentation__choice {

                
                display: flex;
                flex-direction: column;
                margin-right: 2%;

                h3 {
                    color: #fff;

                }
                
                select {
                    border: 1px solid #8ba0d7;
                    background-color: transparent;
                    color: #fff;
                    // overflow: hidden;
                    padding: 15px 20px;
                    font-size: 1em;
                }
            }
        }

        .presentation__seats {
                
            // width: 100%;
            align-self: flex-end;
    
            ul {
                
                li {
    
                    display: inline;
                    
                    img {
                        width: 2%;
                        padding: 0% 1%;
                    }
    
                    p {
                        color: #fff;
                        display: inline-block;
                    }
                }
            }
    
        }
    }
}

