<section class="presentation__place">
  <div class="presentation_filter">

    <div class="presentation__options">
      <select>
        <option value="Cinemark">Cinemark</option>
        <option value="Severiano Ribeiro">Severiano Ribeiro</option>
        <option value="Kinoplex">Kinoplex</option>
        <option value="Cine Sala">Cine Sala</option>
      </select>


      <select>
        <option value="1930">19:30</option>
        <option value="1220">12:20</option>
        <option value="0000">00:00</option>
        <option value="1340">13:40</option>
      </select>
    </div>


    <div class="presentation__seats">
      <ul>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
        </li>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
        </li>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
        </li>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
        </li>
      </ul>
    </div>

  </div>
</section>