<section class="presentation__place">
  <div class="presentation__availability">

    <div class="presentation__filter">

      <div class="presentation__choice">
        <h3>CINEMA</h3>
        <select>
          <option value="Cinemark">Cinemark</option>
          <option value="Severiano Ribeiro">Severiano Ribeiro</option>
          <option value="Kinoplex">Kinoplex</option>
          <option value="Cine Sala">Cine Sala</option>
        </select>
      </div>

      <div class="presentation__choice">
        <h3>TIME</h3>
        <select>
          <option value="1930">19:30</option>
          <option value="1220">12:20</option>
          <option value="0000">00:00</option>
          <option value="1340">13:40</option>
        </select>
      </div>

    </div>

    <div class="presentation__seats">

      <ul>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
          <p>Available</p>
        </li>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
          <p>Booked</p>
        </li>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
          <p>Sold Out</p>
        </li>
        <li>
          <img src="../../../assets/cadeira.svg" alt="">
          <p>Selected</p>
        </li>
      </ul>

    </div>
    
  </div>
</section>