.presentation {
    display: flex;
    flex-direction: column;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}

@media (max-width: 768px) {
    .presentation {

        .presentation__calendar {

            .presentation__date {

                .presentation__numbers {
                    overflow-x: scroll; /* Hide horizontal scrollbar */
                    overflow-y: hidden; /* Add vertical scrollbar */
                }
            }
        }
    }


}
