<div class="presentation">
  <!-- INFO COVER -->
  <app-hero-play></app-hero-play>

  <!-- CALENDAR -->
  <section class="presentation__calendar">
    <div class="presentation__date" id="styled">
      <h2 style="margin: 0;">DATE</h2>

      <div class="presentation__numbers">
  
        <div class="presentation__card">

          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
          
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">
          <ul>
            <li>SEP</li>
            <li class="day">17</li>
            <li>TUE</li>
          </ul>
        </div>
        <div class="presentation__card">

            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
            
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>
          <div class="presentation__card">
            <ul>
              <li>SEP</li>
              <li class="day">17</li>
              <li>TUE</li>
            </ul>
          </div>

      </div>

    </div>
  </section>

  <section style="background-color: #3F467C; width: 100%;">
    FILTER
  </section>
</div>