<div class="hero">

  <div class="hero__cover">
    <img src="../../../assets/zac-retz-49667058-2315332118477466-2122877831900823552-o.jpg" class="normal-img" alt="">
    <img src="../../../assets/590a0345796fe5974bc55ed0f371ae24.jpg" class="mobile-img" alt="">
  </div>

  <div class="hero__info">

    <!-- TODO: Criar novos -->
    <!-- hero__info--text -->
    <!-- hero__info--player -->

    <ul>
      <li>
        <h1>Mauris Aliquet Nunc(2017)</h1>
      </li>
      <li>
        <p>Mussum Ipsum, cacilds vidis litro abertis.
          Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque,
          eget. Casamentiss faiz malandris se pirulitá. </p>
      </li>
      <li>
        <span class="imdb">IMDb </span>
        <span> 7.0</span>
        <p>R | 1h 58min | Action, Comedy | 18 August 2017 (USA)</p>
      </li>
    </ul>
    <div class="hero__control">
      <button>PLAY</button>
    </div>
  </div>

</div>