/* You can add global styles to this file, and also import other style files */
body, html {
  // position: fixed;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  margin: 0%;
  padding: 0%;
}

button:focus {outline:0;}